<%- include('../partials/header'); %>
<%- include('../partials/sidebar'); %>
<div id="main">
  <header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
      <i class="bi bi-justify fs-3"></i>
    </a>
  </header>
  <div class="page-heading">
    <h3>Backup</h3>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div>
          <h5>Export Data</h5>
        </div>
      </div>
      <div class="card-body">
        <a href="export" class="btn btn-success">
          <i class="bi bi-filetype-json"></i>
          Export JSON
        </a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="card">
      <div class="card-header">
        <div>
          <h5>Import Data</h5>
        </div>
      </div>
      <div class="card-body">
        <form action="/import" method="post" enctype="multipart/form-data">
          <input
            type="file"
            class="form-control mb-3"
            name="data"
            required
          />
          <button type="submit" class="btn btn-success">
            <i class="bi bi-filetype-json"></i>
            Import JSON
          </button>
        </form>
      </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
</div>
